
.box{
    img{
        width: 198.79px;
        height: 53.72px;
        margin-left: 400px;
    }
}



.top{
   
    ul{
        display: flex;
        gap: 30px;
        list-style: none;
        margin-left: 600px;
        margin-top: -40px;

    }
}